/input/*.bak
/simetrix/design.net
/simetrix/design.out
/simetrix/*.lck
fp-info-cache
*.kicad_pcb-bak
*.sch-bak
/input/in_amp_bak.sch
/simetrix/netlist.out
/simetrix/netlist.net
/main/main_board/Transcode Report.txt
/main/lv_regs/*.bck
/dac/output
/driver/out_filter/gbr
/driver/sma_breakout/output
/in_panel/replicate_layout.log
/in_panel/length_stats.log
/in_panel/output
