/input/*.bak
/simetrix/design.net
/simetrix/design.out
/simetrix/*.lck
fp-info-cache
*.kicad_pcb-bak
*.sch-bak
/input/in_amp_bak.sch
/simetrix/netlist.out
/simetrix/netlist.net
/main/main_board/Transcode Report.txt
